@font-face{
  font-family: "Roadgeek 2005 Series C";
  src: local("☺"), url("./fonts/Roadgeek-2005-Series-C.woff") format("woff");
  src: url("./fonts/Roadgeek-2005-Series-C.otf") format('opentype');
}
