.modal-body {
  background-color: $background-color;
}

.modal-header {
  background-color: $light-background-color;
  border-bottom: 1px solid #000;
}

.modal-footer {
  background-color: $light-background-color;
  border-top: 1px solid #000;
}
