$white: #e0e0e0;
$egg-white: #fff;
$black: #101214;
$gray: #2a2a2a;
$blue: #3fb4f9;
$green: #90c564;
$red: #e3524f;
$yellow: #e5c852;
$background-gray: #8b9092;
$dark-gray: #4a4a4a;
$button-green: #8dc63f;
$light-gray: #7f7f7f;
$silver: #c0c0c0;

$background-color: #21252b;
$darker-background-color: #1b1d23;
$light-background-color: #282c34;
$select-background-color: #31363f;
$input-select-background-color: #353b45;
$checkbox-background-color: #528bff;
$scrollbar-background: #282c34;
$text-color: #9da5b4;
$light-text-color: #d7dae0;
$inactive-text-color: #69707b;

//$blue: #0088ff;
$light-blue: #6494ed;
//$green: #20b684;
//$yellow: #e2c08d;
$purple: #c678dd;
//$red: #ff6347;

$dark-purple: #54335d;
$dark-green: #0a3628;
$dark-yellow: #62543d;

$field-border-color: #181a1f;
$field-focus-border-color: #528bff;

$top-tab-container: 117px;
