@import '../../scss/_variables';

.widget {
  .widget-body {
    overflow: hidden;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
    max-height: 200px;
  }

  .item-row {
    h2,
    h3 {
      font-weight: normal;
      line-height: 20px;
      margin: 0;
    }

    h2 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 18px;
    }

    h3 {
      font-size: 14px;
      color: #7f7f7f;
    }
  }
}

.input-table {
  display: table;

  label {
    display: table-cell;
    width: 80px;
  }
  input {
    display: table-cell;
    width: 100%;
  }
}
